rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Cho phep doc/ghi neu dang dang nhap (co nguoiDungId hop le)
    match /nguoi_dung/{docId} {
      allow read, write: if true;
    }
    match /ve/{docId} {
      allow read, write: if true;
    }
    match /nhan_vien/{docId} {
      allow read, write: if true;
    }
    match /lich_su_soat/{docId} {
      allow read, write: if true;
    }
    match /admin/{docId} {
      allow read, write: if true;
    }
    match /tuyen_xe/{docId} {
      allow read, write: if true;
    }
    match /lich_chay/{docId} {
      allow read, write: if true;
    }
    match /xe/{docId} {
      allow read, write: if true;
    }
    match /tai_xe/{docId} {
      allow read, write: if true;
    }
    match /khuyen_mai/{docId} {
      allow read, write: if true;
    }
    match /khieu_nai/{docId} {
      allow read, write: if true;
    }
    match /cau_hinh/{docId} {
      allow read, write: if true;
    }
  }
}
